---
import { course } from "../../data/course";
---

<div class="overflow-x-auto rounded-2xl border border-forest/10">
  <table class="w-full min-w-xl text-left text-sm">
    <thead class="bg-forest text-white"
      ><tr
        ><th class="p-4">Tee</th><th class="p-4">Yards</th><th class="p-4"
          >Rating</th
        ><th class="p-4">Slope</th></tr
      ></thead
    ><tbody class="divide-y divide-forest/10"
      >{
        course.tees.map((tee) => (
          <tr>
            <>
              <th class="p-4 font-semibold">
                <span
                  class="mr-3 inline-block size-3 rounded-full border border-charcoal/20 align-middle"
                  style={`background:${tee.color}`}
                />
                {tee.name}
              </th>
              <td class="p-4">{tee.yards.toLocaleString()}</td>
              <td class="p-4">{tee.rating}</td>
              <td class="p-4">{tee.slope}</td>
            </>
          </tr>
        ))
      }</tbody
    >
  </table>
</div>
